{% extends 'base.html' %}
{% block content %}



<div class="d-flex a flex-column align-items-center">
    <h1> 제목: {{pick_data.title}} <span style="font-size: 20px;"> <a
                href="{% url 'accounts:accounts_detail' pick_data.user.pk %}">{{pick_data.user}}</a></span> </h1>
    <hr>
    <p> {{pick_data.content}}</p>
    {% if pick_data.img %}
    <img width="400" height="300" src="{{pick_data.img.url}}" alt="{{pick_data.img.url}}">
    {%endif%}
    <div>
        <button class="btn btn-primary" type="button"><a class="nav-link active"
                href="{% url 'articles:update' pick_data.pk %}"> 수정 </a> </button>
        <button class="btn btn-primary" type="button"><a class="nav-link active"
                href="{% url 'articles:delete' pick_data.pk %}"> 삭제 </a></button>
    </div>
</div>


{% if request.user in pick_data.like_user.all %}

<i class="btn btn-link text-danger bi-heart-fill" id='like-Btn' data-post-id="{{ pick_data.pk }}">
</i>

{% else %}
<i class="btn btn-link text-danger bi-heart-fill" id='like-Btn' data-post-id="{{ pick_data.pk }}">
</i>

{% endif %}
<span id="like_count">{{ like_count|length }}</span> <span>명이 좋아합니다</span>

<hr>

<button name="open_button" id="open_button"> 댓글보기</button>

<div name="comment_box" id="comment_box" class="hide-box">
    <h3 class="text-center">댓글</h3>
    {% load django_bootstrap5%}
    <form action="" method="POST" id='commnetForm'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="작성">
    </form>
    <hr>

    {%for comment in all_comment %}
    <div id="comments">
        <p>{{comment.content}} |<span style="font-size: 10px;"> {{comment.userkey}}</span></p>
        {%if comment.userkey == request.user %}
        <a href="{% url 'articles:comment_delete' comment.pk %}">삭제</a>
        {%endif%}
    </div>
    <hr>
    {%endfor%}
</div>

<style>
    .hide-box {
        display: none;
    }

    .onbox {
        display: block;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const likeBtn = document.querySelector('#like-Btn')
    const heart_icon = document.querySelector('#like-Btn')
    likeBtn.addEventListener('click', function (event) {
        console.log(event.target.dataset)
        axios({
            method: 'get',
            url: `/${event.target.dataset.postId}/like_user/`
        })
            .then(response => {
                console.log(response)
                console.log(response.data)
                if (response.data.is_like === true) {
                    heart_icon.classList.add('bi-heart-fill')
                    heart_icon.classList.remove('bi-heart')
                } else {
                    heart_icon.classList.add('bi-heart')
                    event.target.classList.remove('bi-heart-fill')
                }
                const like_count = document.querySelector('#like_count')
                like_count.innerText = response.data.likeCount

            })
    })

    const open_comment_box = function () { document.querySelector('#comment_box').classList.toggle('onbox') }
    const open_button = document.querySelector('#open_button')
    open_button.addEventListener('click', open_comment_box)

</script>
<!-- 댓글 -->

<script>
    const commnetForm = document.querySelector('#commnetForm')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    commentForm.addEventListener('submit', function (event) {
        event.preventDefault();
        axios({
            method: 'post',
            url: `/${event.target.dataset.postId}/comment_delete/`,
            headers: { 'X-CSRFToken': csrftoken },
            data: new FormData(commnetForm)
        })
            .then(response => {
                console.log(response.data)

                const comments = document.querySelector('#comments')
                const p = document.createElement('p')
                p.innerText = `${response.data.userName}|  ${response.data.content}`
                const hr = document.createElement('hr')
                comments.append(p, hr)
                commnetForm.reset()
            })
    })

</script>

{% endblock %}