{% extends "base.html" %}


{% block content%}

<h1>{{user_info.username}} 님의 프로필</h1>

<p>팔로워|{{user_info.followings.all.count}}</p>
{% for following in user_info.followings.all %}
{{following.username}}
{%endfor%}

<p>팔로잉|{{user_info.follwers.all.count}}</p>
{% for follower in user_info.follwers.all %}
{{follower.username}}
{%endfor%}




{% if request.user != user_info %}
<a href="{% url 'accounts:follow' user_info.pk %}">
        {% if request.user in user_info.followings.all %} 언팔로우 {%else%} 팔로우 {%endif%} </a>
{%else%}
{%endif%}

<hr>



<!-- <button class="btn btn-primary" type="button"><a class="nav-link active"
        href="">
        {{people.username}}님의 프로필</a></button> -->


<h3>게시글</h3>
<p>총 {{user_article|length}} 개
</p>
<hr>
{% for post in user_article %}
<p> <a href=" {% url 'articles:detail' post.pk %}">{{post.title}}</a></p>
{% endfor %}



{% endblock %}