{% extends "base.html" %}


{% block content %}
<h1>로그인 인덱스페이지 </h1>
{% if request.user.is_authenticated %}


<p> {{user.username}}님 환영합니다.</p>

<a href="{%url 'accounts:profil_update' %}"> {{user.username}}님 회원정보수정</a>


{% else %}
<a href="{% url 'accounts:signup' %}"> 회원가입 </a>
<a href="{% url 'accounts:login'%}">로그인</a>

{% endif %}





<table class="table-dark table text-center">
    <thead>
        <tr>
            <th>회원번호</th>
            <th>아이디</th>
            <th>가입시간</th>
        </tr>
    </thead>

    <tbody>
        {% for i in all_user %}
        <tr>
            <td>{{i.pk}}</td>
            <td><a href="{% url 'accounts:profil' i.pk %}">{{i.username}}</a></td>
            <td>{{i.date_joined}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}