{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전생테스트</title>
</head>

<body>
    {% block content %}
    <h1>전생테스트</h1>

    <p>당신의 이름을 입력해주세요</p>
    <form action="/before2" method="GET">
        <input type="text" name="pname">
        <input type="submit">

    </form>

    {% endblock %}
</body>

</html>