{% load static %}
<link rel="stylesheet" href="{% static 'css/back.css' %}">


{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>







    <!-- {% block content %} -->
    <h1> 여긴 수정페이지야 </h1>
    <h1> 바꿀 내용을 수정해주자</h1>
    <a href="{% url 'testapp:index' %}"> 돌아가기</a>


    <!-- url으로 post보낼 때 rb.pk 붙여주기 업데이트 파일의 id키를 보내주기위해 -->
    <form action="{% url 'testapp:update' rb.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form%}
        <!-- {{ form.as_p }} -->
        <!-- 업데이트 views에 저장된 form 데이터를 가져오기 위해 {{ form.as_p }}  사용  table,p ,td태그 사용가능 -->
        <input type="submit" value="수정">
    </form>

    <!-- <form action="{% url 'testapp:update' rb.pk  %}" method="post">
    {% csrf_token %}
    {{ test_form.as_p }}
    <label for="title">치킨이름</label>
    <input type="text" name='title' value="{{rb.title}}">
    <label for="content">내용</label>
    <textarea name="content" id="content" cols="30" rows="10">{{rb.content}}</textarea>
    <input type="submit" value="치킨 추가!">

</form> -->

    <!-- {% endblock %} -->
</body>

</html>