{% extends 'base.html' %}




{% block content %}

<div>
    <h1>인덱스페이지! </h1>



    {% if user.is_authenticated %}
    <button class="btn btn-info btn"><a class="nav-link active" href="{% url 'accounts:logout' %}">{{ user.username }}님
            환영합니다 로그아웃</a></button>
    {% else %}
    <button class="btn btn-info btn"><a class="nav-link active" href="{% url 'accounts:login' %}">로그인</a></button>
    {% endif %}



</div>


<button type="button" class="btn btn-primary btn-lg"><a class="text-white"
        href="{% url 'accounts:signup' %}">회원가입</a></button>

<button type="button" class="btn btn-primary btn-lg "><a class="text-white"
        href="{% url 'accounts:joinlist' %}">회원목록</a></button>




{% endblock %}